@use './../../styles/utils/vars';

.about {
  display: flex;
  flex-direction: column;
  gap: vars.$space-XS * 1.25;

  &Hero {
    position: relative;
    background: vars.$overlayOnPictures;
    border-radius: vars.$radius-M;

    &Img {
      mix-blend-mode: darken;
      border-radius: vars.$radius-M;
      width: 100%;
    }
  }

  &Description {
    display: flex;
    flex-direction: column;
    gap: vars.$space-XS;
  }

  @media (min-width: 1100px) {
    &Description {
      margin-inline: 100px;
    }

    &Hero, &HeroImg {
      border-radius: vars.$radius-L;
    }
  }
}