@use './../../styles/utils/vars';

.hero {
  position: relative;
  background: hsla(0, 0%, 0%, .3);
  border-radius: vars.$radius-M;
  // for centering text
  display: grid;

  &Img {
    mix-blend-mode: darken;
    border-radius: vars.$radius-M;
  }

  &Text {
    position: absolute;
    // grid allows to center the item itself
    align-self: center;
    // text on 2 lines with flex
    display: flex;
    flex-direction: column;
    font-size: vars.$fsize-24px;
    color: vars.$col-white;
    margin-inline-start: vars.$space-XS;

    span {
      color: inherit;
    }
  }
}