@use './../../styles/utils/vars';

.hero {
  position: relative;
  background: vars.$overlayOnPictures;
  border-radius: vars.$radius-M;
  // for centering text
  display: grid;
  font-family: 'Montserrat', sans-serif;

  @media(min-width: 1100px) {
    border-radius: vars.$radius-L;    
  }

  &Img {
    mix-blend-mode: darken;
    border-radius: vars.$radius-M;
    width: 100%;
  }

  &Text {
    position: absolute;
    // grid allows to center the item itself
    align-self: center;
    // text on 2 lines with flex
    display: flex;
    flex-direction: column;
    // font-size: vars.$fsize-24px;
    font-size: clamp(1.5rem, 0.9208rem + 2.3762vw, 3rem);
    color: vars.$col-white;
    margin-inline-start: vars.$space-XS;
    font-weight: vars.$fweight-medium;

    span {
      color: inherit;
    }
  }

  @media(min-width: 750px) {
    &Text {
      display: initial;
      justify-self: center;
    }
  }

  @media(min-width: 1100px) {
    margin-block-start: vars.$space-M;
    &Img {
      border-radius: vars.$radius-L;
    }
  }
}