@use './../../styles/utils/vars';

.starRate {
  display: flex;
  
  .starContainer {
    height: 30px;
    font-size: vars.$fsize-15px;

    .starOn {
      color: vars.$col-primary;
    }
    .starOff {
      color: vars.$star-off;
    }
  }
}