@use './../../styles/utils/vars';

.footer {
  background-color: vars.$col-black;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: vars.$space-S;
  margin-block-start: auto;
  margin-inline: vars.$space-S * -1;
  margin-block-end: vars.$space-S * -1;
  

  &Logo {
    width: 125px;
  }

  &Logo, &Copyright {
    color: vars.$col-white;
  }
}