@use './../../styles/utils/vars';

.appartment {
  position: relative;
  width: 100%;

  &ImgWrapper {
    height: 255px;
    background: vars.$cards-bg-gradient;
  }

  &Img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: darken;
  }

  &ImgWrapper, &Img {
    border-radius: vars.$radius-M;
  }

  &Title {
    position: absolute;
    bottom: vars.$space-XS;
    left: vars.$space-S;
    font-size: vars.$fsize-16px;
    color: vars.$col-white;
    font-weight: vars.$fweight-medium;
    // width: 50%;
  }

  @media (min-width: 1100px) {
    &ImgWrapper {
      height: 340px;
    }
  }
}